In [1]:
import pandas as pd

voltage_df = pd.read_csv(r"D:\Notebook\Bus_Voltage.csv",encoding='cp1125')

In [2]:
#Removing the Voltage data for PV Buses and Slcak Bus
voltage_df.drop([0,2,3,4,6,9,10,12,13,14],inplace=True)

In [3]:
#Reading the activepower data exported from power factory
active_power_df = pd.read_excel(r"D:\Notebook\active_power_training_data.xlsx")

In [4]:
#Removing the active power data for PV Buses and Slcak Bus
active_power_df.drop([0,2,3,7,8],inplace=True)

#rename the substaion name 
active_power_df.loc[active_power_df['Substation'] == 'Kabeli/Amapur', 'Substation'] = 'Kabeli (Amarpur)'
active_power_df

,Substation,training_data_1,training_data_2,training_data_3,training_data_4,training_data_5,training_data_6,training_data_7,training_data_8,training_data_9,...,training_data_9991,training_data_9992,training_data_9993,training_data_9994,training_data_9995,training_data_9996,training_data_9997,training_data_9998,training_data_9999,training_data_10000
1,Damak,21.362095,21.617460,21.017770,20.462775,19.804725,19.752755,21.667779,21.089065,20.749477,...,20.000326,20.320667,20.253399,20.458313,20.886455,20.785292,20.709283,21.195998,20.620792,20.413162
4,Kabeli (Amarpur),2.627481,2.734143,2.626526,2.685381,2.690046,2.675313,2.620379,2.709808,2.608866,...,2.611450,2.719630,2.697781,2.715884,2.709012,2.675752,2.597990,2.678688,2.748497,2.604814
5,Kusaha,9.142593,8.847695,9.174844,9.162229,8.755518,9.279661,8.931742,8.892483,8.881877,...,8.990684,9.106000,9.033014,8.942909,9.236679,9.111181,8.994184,8.994465,9.115072,8.809560
6,Lahan,13.882863,13.227750,13.275904,13.864535,13.914269,13.685122,13.793227,13.792091,13.665949,...,13.768634,13.795441,13.786844,13.891871,13.700575,13.732059,13.669015,13.433227,13.528811,13.693368
9,Rupani,14.634490,14.442821,14.834103,15.001393,14.695567,15.531291,14.649476,14.311282,14.649694,...,15.300951,14.095519,14.756189,14.876196,14.845656,14.746948,14.273941,14.897661,14.426675,14.896426

In [5]:
#Stacking all active power training data to a single column
active_power_stacked_df = active_power_df.set_index('Substation').stack().reset_index()

# Rename the columns for clarity
active_power_stacked_df.columns = ['Substation', 'Training_Data_Index', 'Active_Power']

print(active_power_stacked_df)

      Substation  Training_Data_Index  Active_Power
0          Damak      training_data_1     21.362095
1          Damak      training_data_2     21.617460
2          Damak      training_data_3     21.017770
3          Damak      training_data_4     20.462775
4          Damak      training_data_5     19.804725
...          ...                  ...           ...
49995     Rupani   training_data_9996     14.746948
49996     Rupani   training_data_9997     14.273941
49997     Rupani   training_data_9998     14.897661
49998     Rupani   training_data_9999     14.426675
49999     Rupani  training_data_10000     14.896426

[50000 rows x 3 columns]

In [6]:
#Stacking all voltage training data to a single column
voltage_stacked_df = voltage_df.set_index('Bus Name').stack().reset_index()

# Rename the columns for clarity
voltage_stacked_df.columns = ['Substation', 'Training_Data_Index', 'Bus_Voltage']

# Display the result
print(voltage_stacked_df)

      Substation Training_Data_Index  Bus_Voltage
0          Damak         test_data 1     0.995796
1          Damak         test_data 2     0.996506
2          Damak         test_data 3     0.995709
3          Damak         test_data 4     0.996186
4          Damak         test_data 5     0.996008
...          ...                 ...          ...
49995     Rupani      test_data 9996     0.984408
49996     Rupani      test_data 9997     0.984835
49997     Rupani      test_data 9998     0.984535
49998     Rupani      test_data 9999     0.984393
49999     Rupani     test_data 10000     0.984205

[50000 rows x 3 columns]

In [8]:
reactive_power_df = pd.read_excel(r"D:\Notebook\reactive_power_training_data.xlsx")

In [9]:
reactive_power_df.drop([0,2,3,7,8],inplace=True)
reactive_power_df.loc[reactive_power_df['Substation'] == 'Kabeli/Amapur', 'Substation'] = 'Kabeli (Amarpur)'
reactive_power_stacked_df = reactive_power_df.set_index('Substation').stack().reset_index()
reactive_power_stacked_df.columns = ['Substation', 'Training_Data_Index', 'Reactive_Power']
print(reactive_power_stacked_df.head())

  Substation Training_Data_Index  Reactive_Power
0      Damak     training_data_1       11.419547
1      Damak     training_data_2        8.740988
2      Damak     training_data_3       11.543729
3      Damak     training_data_4       10.066020
4      Damak     training_data_5       10.336137

In [ ]:
#reactive_power_stacked_df.to_csv("reactive_power_stacked.csv")
#active_power_stacked_df.to_csv("active_power_stacked.csv")
#voltage_stacked_df.to_csv("volatge_stacked.csv")

In [10]:
merged_df = pd.merge(active_power_stacked_df,reactive_power_stacked_df)

      Substation  Training_Data_Index  Active_Power  Reactive_Power
0          Damak      training_data_1     21.362095       11.419547
1          Damak      training_data_2     21.617460        8.740988
2          Damak      training_data_3     21.017770       11.543729
3          Damak      training_data_4     20.462775       10.066020
4          Damak      training_data_5     19.804725       10.336137
...          ...                  ...           ...             ...
49995     Rupani   training_data_9996     14.746948        8.032657
49996     Rupani   training_data_9997     14.273941        5.986983
49997     Rupani   training_data_9998     14.897661        7.820217
49998     Rupani   training_data_9999     14.426675        7.716224
49999     Rupani  training_data_10000     14.896426        6.717351

[50000 rows x 4 columns]

In [11]:
merged_df["Voltage"] = voltage_stacked_df["Bus_Voltage"]
print(merged_df)
merged_df.to_csv("Data_for_ML.csv")

      Substation  Training_Data_Index  Active_Power  Reactive_Power   Voltage
0          Damak      training_data_1     21.362095       11.419547  0.995796
1          Damak      training_data_2     21.617460        8.740988  0.996506
2          Damak      training_data_3     21.017770       11.543729  0.995709
3          Damak      training_data_4     20.462775       10.066020  0.996186
4          Damak      training_data_5     19.804725       10.336137  0.996008
...          ...                  ...           ...             ...       ...
49995     Rupani   training_data_9996     14.746948        8.032657  0.984408
49996     Rupani   training_data_9997     14.273941        5.986983  0.984835
49997     Rupani   training_data_9998     14.897661        7.820217  0.984535
49998     Rupani   training_data_9999     14.426675        7.716224  0.984393
49999     Rupani  training_data_10000     14.896426        6.717351  0.984205

[50000 rows x 5 columns]